
<div class="container" *ngIf="bestParticipant">
  <mat-card>
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Marathon Winner</mat-card-title>
        <mat-card-subtitle>{{bestParticipant.lastName}} {{bestParticipant.firstName}}</mat-card-subtitle>
        <img src="{{bestParticipant.photoUrl}}" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content *ngIf="center">
      <p>Record Time <span>{{bestParticipant.recordTime}}</span></p>
      <p>Marathon center <span>{{center.name}}</span></p>
    </mat-card-content>
  </mat-card>
</div>


